@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3, h4, h5 {
    font-family: "Poppins", sans-serif;
}

p,
li, button {
    font-family: "Montserrat", sans-serif;
}

header nav {
    height: 5rem;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

header nav .menu {
    display: none;
}

.boxLogo {
    display: flex;
    width: auto;
    height: 4rem;
    align-items: center;
    gap: 1rem;
    padding-left: 3rem;
    cursor: pointer;
}

.boxLogo img {
    height: 3rem;
    width: 3rem;
}

header nav,
ul, .divMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    gap: 4rem;
    list-style: none;
}

header nav ul li {
    cursor: pointer;
    font-weight: 600;
    color: black;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul li:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

header nav button {
    color: white;
    background-color: #21C05C;
    border: none;
    border-radius: 5px;
    padding: 0.75rem;
    cursor: pointer;
}

.home {
    display: flex;
    justify-content: space-evenly;
    max-height: max-content;
}

.home .texto {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding-left: 5rem;
    width: 70%;
    margin-bottom: 3rem;
}

.home .texto h1 {
    width: 70%;
    font-size: 3.5rem;
}

.home .texto p {
    font-size: 1.5rem;
    width: 75%;
}

.home .imagem {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    
}

.home .imagem img {
    max-width: 99%;
}

.home .texto button {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    font-size: 1rem;
    width: 14rem;
    border-radius: 7px;
    gap: 1rem;
    justify-content: center;
    cursor: pointer;
}

.home .texto .botoes {
    display: flex;
    gap: 2rem;
}

.home .texto .botoes .btnVerde {
    background-color: #21C05C;
    color: white;
    border: none;
}

.home .texto .botoes .btnAzul {
    background-color: white;
    color: #2563EB;
    border: 1px solid #2563EB;
}

.numeros {
    display: flex;
    justify-content: space-evenly;
    background-color: #cccccc44;
    height: 10rem;
    margin-bottom: 5rem;
    align-items: center;
}

.numeros div {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.numeros div h2 {
    color: #21C05C;
    font-size: 2rem;
}

.numeros div p {
    font-size: 1.25rem;
}

#comoFunciona {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.textoInfo {
    margin: 0 0 2rem    4rem;
    gap: 1rem;
}

.textoInfo h2 {
    font-size: 2rem;
}

.textoInfo p {
    font-size: 1.25rem;
}

#comoFunciona .containerCards {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

#comoFunciona .containerCards article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40rem;
    padding: 1rem 0 3.5rem 3rem;
    background-color: #cccccc44;
    border-radius: 12px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#comoFunciona .containerCards article .boxTitle {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

#comoFunciona .containerCards article .boxTitle img {
    width: 50px;
    height: 50px;
}

#comoFunciona .containerCards article .boxTitle h3 {
    color: #21C05C;
    font-size: 1.5rem;
    font-weight: 400;
}

#comoFunciona .containerCards article .boxTitle .adq {
    color: #2563EB;
}

#comoFunciona .containerCards article .opcoes {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}


#produtos .containerCards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3rem;
    margin-top: 5rem;
    flex-wrap: wrap;
}

#produtos .containerCards article{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 35rem;
    border-radius: 12px;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
    border: none;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

#produtos .containerCards article img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
}

#produtos .containerCards article button {
    padding: 1rem;
    width: 12rem;
    border-radius: 8px;
    color: white;
    background-color: #21C05C;
    border: none;
}

.textoInfo2 {
    margin: 2rem 0 2rem    4rem;
    gap: 1rem;
    text-align: center;
}

.containerCardsOP {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.containerCardsOP article {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: auto;
    padding: 2rem;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    margin-bottom: 2rem;
    gap: 2rem;
}

.containerCardsOP article .aval {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.containerCardsOP article .aval img {
    width: 25%;
}

.containerCardsOP article .users {
    display: flex;
    gap: 1.15rem;
}


.containerCardsOP article .users .nome h5 {
    font-weight: normal;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
    margin-top: 3rem;
    background-color: #1F2937;
    color: #fff;
}

@media (max-width: 500px) {
    header {
        width: 100%;
    }

    header nav {
        padding: 0 2rem 0 0
    }

    .boxLogo {
        padding-left: 1rem;
    }

    .boxLogo img {
        width: 50px;
        height: 50px;
    }

    .boxLogo h1 {
        font-size: 2rem;
    }

    header nav ul {
        gap: 1rem;
        display: none;
    }

    header nav .menu {
        display: flex;
    }

    .home .texto {
        height: auto;
        text-align: center;
        padding: 0 1rem;
        width: 100%;
        margin-top: 3rem;
    }

    .home .texto h1 {
        font-size: 2rem;
        width: 100%;
        margin-right: 0;
    }

    .home .texto p {
        width: 100%;
        font-size: 1.25rem;
    }

    .home .imagem {
        display: none;
    }

    .home .texto button {
        width: 13rem;
        padding: 0.5rem;
        font-size: 0.81rem;
        margin-bottom: 6rem;
    }

    .numeros div h2 {
        font-size: 1.5rem;
    }

    .numeros div p {
        font-size: 1rem;
    }

    .textoInfo {
        margin: 0;
        text-align: center;
    }

    .textoInfo p {
        font-size: 1.15rem;
    }

    #comoFunciona .containerCards {
        padding: 0 2rem;
    }

    #comoFunciona .containerCards article {
        padding: 1rem 1rem 3.5rem 1rem;
    }

    .textoInfo2 {
        margin: 2rem 0;
    }

    .containerCardsOP {
        padding: 0 1rem;
    }
}